.report-header {
  text-align: center;
}
.report-header h5,
h6 {
  margin: 0;
  padding-bottom: 5px;
}
.report-body table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
.report-footer {
  border-top: 3px solid #ccc;
  margin-top: 50px;
}
